/* Google font import (Faculty Glyphic @ 300 - 700) */
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Faculty Glyphic", Arial, sans-serif;
}

body {
	height: 100dvh;
	width: 100dvw;
	color: #fff;
	background-color: #202020;
	overflow: clip;
}

#root,
main {
	height: 100%;
	width: 100%;
}

main {
	padding-top: 2.5rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Headings */
h1,
h2,
h3 {
	width: 100%;
	text-align: center;
	text-shadow: 0 0 0.5rem #000;
}

main > p {
	max-height: 22rem;
	width: 88%;
	margin: 1rem auto;
	padding: 0.5rem 1rem;
	background-color: #202020cc;
	overflow-y: scroll;
}

/* Btns */
.controls {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

button {
	padding: 0.2rem 0.5rem;
}

/* Welcome page */
.welcome,
.town {
	background-image: url("./assets/images/bgs/town.png");
}

/* Town page */

/* Inn page */
.inn {
	background-image: url("./assets/images/bgs/inn.png");
}

/* Shop page */
.shop {
	background-image: url("./assets/images/bgs/shop.png");
}

/* Cave page */
.cave-entrance {
	background-image: url("./assets/images/bgs/cave-entrance.png");
}

/* Fight page */
