/* Google font import (Faculty Glyphic @ 300 - 700) */
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Faculty Glyphic", Arial, sans-serif;
}

body {
	height: 100dvh;
	width: 100dvw;
	overflow: clip;
}

#root,
main {
	height: 100%;
	width: 100%;
}

main {
	padding-top: 2.5rem;
}

/* Headings */
h1,
h2 {
	text-align: center;
}

main > p {
	width: 84%;
	margin: 1.5rem auto;
}

/* Btns */
.controls {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

button {
	padding: 0.2rem 0.5rem;
}
