.action-bar {
	height: 2.5rem;
	position: fixed;
	bottom: 0;
	right: 0;
}

.action-bar-icon {
	height: 100%;
	width: 3rem;
	margin-right: 0.25rem;
	background-color: var(--primary);
	border: 2px outset var(--secondary);
}

.action-bar-icon.active {
	background-color: var(--secondary);
}

/* Styles shared by action bar tabs */
.pack,
.hero-info {
	display: none;
	width: 90%;
	background-color: var(--primary);
	border: 3px solid var(--secondary);
	position: fixed;
	top: 10%;
	left: 5%;
	z-index: 99;
}

/* Action bar icon images */
.open-hero,
.open-pack {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.open-hero {
	background-image: url("../images/hero-icon.png");
}

.open-pack {
	background-image: url("../images/pack-icon.png");
}
