.cave-interior {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Monster area */
.monster-container {
	height: 50%;
	width: 90%;
	margin-top: 2rem;
	text-align: center;
}

.monster-container img {
	height: 60%;
}

.monster-stats {
	padding-top: 0.25rem;
	background-color: var(--semi-trans-bg);
}

.monster-name {
	font-size: 1.25rem;
}

/* Player controls area */
.battle-controls {
	width: 100%;
	padding-top: 0.25rem;
	text-align: center;
	background-color: var(--semi-trans-bg);
}

.hero-name {
	font-size: 1.5rem;
}

.battle-controls button {
	margin: 0.75rem;
}

/* Health bars */
.health-bar {
	margin-top: 0.25rem;
}

/* Animations */
.slash,
.monster-attack {
	width: 125px;
	height: 10px;
	background: #ff0000;
	border-radius: 15px;
	box-shadow: 0 0 10px #fff;
	animation: slash 0.5s ease-out forwards;
	position: absolute;
	left: 35%;
}

.slash {
	top: 30%;
}

.monster-attack {
	top: 65%;
}

.block {
	position: absolute;
	top: 60%;
	left: 55%;
	width: 150px;
	height: 150px;
	background: #ffffff55;
	border-radius: 50%;
	border: 4px solid white;
	animation: blocked 0.5s ease;
	transform: translate(-50%, -50%);
}

@keyframes slash {
	0% {
		transform: scale(0) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: scale(0) rotate(90deg);
		opacity: 0;
	}
}

@keyframes blocked {
	0% {
		transform: scale(0) translate(-50%, -50%);
	}
	50% {
		transform: scale(1.2) translate(-50%, -50%);
	}
	100% {
		transform: scale(1) translate(-50%, -50%);
	}
}
