body.hc h1,
body.hc h2,
body.hc h3 {
	background-color: #000;
}

body.hc main p,
body.hc .shop-item,
body.hc .pack-item,
body.hc .monster-stats,
body.hc .battle-controls,
body.hc .victory-tab,
body.hc .scoreboard {
	background-color: #000;
	border-color: #fff;
}

body.hc button,
body.hc .combat-log,
body.hc .stats-bar {
	background-color: var(--hc-primary);
	border-color: var(--hc-secondary);
}

body.hc .action-bar-icon {
	background-color: var(--hc-secondary);
	border-color: var(--hc-primary);
}

body.hc .action-bar-icon.active {
	background-color: var(--hc-primary);
}

body.hc .hero-info,
body.hc .pack,
body.hc .settings {
	background-color: var(--hc-primary);
	border-color: var(--hc-secondary);
}

body.hc .hero-gear div {
	background-color: var(--hc-secondary);
	border-color: #fff;
}

body.hc .hero-gear div svg {
	color: #000;
}
