/* Items, Shop, and Pack */
/* Shared */
.shop,
.pack.open {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.shop-item,
.pack-item {
	height: 7rem;
	width: 45%;
	margin-top: 0.5rem;
	padding: 0.5rem;
	background-color: #333;

	border: 2px solid lime;
}

.item-slot {
	text-transform: capitalize;
	font-size: 0.7rem;
}

/* Shop */

/* Pack */
.open-pack {
	height: 3.5rem;
	width: 3.5rem;
	background-color: #707070;
	background-image: url("../images/items/pack.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #fff;
	border-radius: 50%;
	position: fixed;
	top: 2.25rem;
	right: 0.25rem;
}

.close-pack {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
}

.pack {
	display: none;
	max-height: 25rem;
	width: 90%;
	padding: 1rem 0;
	background-color: #111;
	border: 1px solid red;
	position: absolute;
	top: 10%;
	left: 5%;
	overflow-y: scroll;
	z-index: 99;
}

.equipped-text {
	font-size: 0.7rem;
}
