/* Items, Shop, and Pack */
/* Shared */
.item-slot {
	text-transform: capitalize;
}

/* Shop */
.shop {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.shop-item {
	height: fit-content;
	width: 45%;
	border: 2px solid lime;
}

/* Pack */
.open-pack {
	height: 3.5rem;
	width: 3.5rem;
	background-color: #707070;
	background-image: url("../images/items/pack.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #fff;
	border-radius: 50%;
	position: fixed;
	top: 2.25rem;
	right: 0.25rem;
}

.pack {
	display: none;
	max-height: 25rem;
	width: 90%;
	padding: 1rem;
	background-color: #111;
	border: 2px solid lime;
	position: absolute;
	top: 10%;
	left: 5%;
	overflow-y: scroll;
	z-index: 99;
}

.pack.open {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pack-item {
	border: 1px solid red;
	height: 5rem;
	width: fit-content;
	margin-top: 0.5rem;
	padding: 0.25rem 0.5rem;
}

.close-pack {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
}
