.open-pack {
	height: 3.5rem;
	width: 3.5rem;
	background-color: #707070;
	background-image: url("../images/items/pack.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid yellow;
	border-radius: 50%;
	position: fixed;
	top: 2.25rem;
	right: 0.25rem;
}

.pack {
	display: none;
	width: 80%;
	padding: 1rem;
	background-color: #111;
	border: 2px solid lime;
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 99;
}

.pack.open {
	display: block;
}

.pack-item {
	border: 1px solid red;
	width: fit-content;
	margin: 0.25rem auto;
	padding: 0.25rem 0.5rem;
	display: inline-block;
}

.close-pack {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
}
