.victory-tab {
	height: 80%;
	width: 100%;
	padding: 1rem;
	text-align: center;
	background-color: var(--gray);
	border-top: 2px solid var(--secondary);
	border-bottom: 2px solid var(--secondary);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: fixed;
	top: 10%;
}
